In [269]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random

In [270]:
def fuzzer(low, high, size):
    return np.random.uniform(low=low, high=high, size=(size,)).astype(int)

In [271]:
a = list(fuzzer(0, 10, 100))
b = list(fuzzer(0, 10, 100))
operand = list(fuzzer(0, 2, 100))

In [272]:
operand_v2 = (list(np.zeros(50, dtype= int)) + list(np.ones(50, dtype= int)))
np.random.shuffle(operand_v2)

In [273]:
mainDicOperand_v11 = {}
mainDicOperand_v12 = {}
mainDicOperand_v21 = {}
mainDicOperand_v22 = {}
mainDicLis_v11 = []
mainDicLis_v12 = []
mainDicLis_v21 = []
mainDicLis_v22 = []

In [274]:
if len(a) == len(b) == len(operand):
    for i in range(0,len(a)):

        if operand[i] == 0 :
            mainDicOperand_v11 = {'input_a': a[i], 'input_b': b[i], 'operand': operand[i], 'operand_str': 'sum'}

        if operand[i] == 1 :
            mainDicOperand_v11 = {'input_a': a[i], 'input_b': b[i], 'operand': operand[i], 'operand_str': 'sub'}
        
        mainDicLis_v11.append(mainDicOperand_v11)


        if operand[i] == 0 :
            mainDicOperand_v12 = {'input_a': a[i], 'input_b': b[i], 'operand': operand[i], 'operand_str': 'sub'}

        if operand[i] == 1 :
            mainDicOperand_v12 = {'input_a': a[i], 'input_b': b[i], 'operand': operand[i], 'operand_str': 'sum'}
        
        mainDicLis_v12.append(mainDicOperand_v12)

        # OPERAN Version 2

        if operand_v2[i] == 0 :
            mainDicOperand_v21 = {'input_a': a[i], 'input_b': b[i], 'operand': operand_v2[i], 'operand_str': 'sum'}

        if operand_v2[i] == 1 :
            mainDicOperand_v21 = {'input_a': a[i], 'input_b': b[i], 'operand': operand_v2[i], 'operand_str': 'sub'}
        
        mainDicLis_v21.append(mainDicOperand_v21)


        if operand_v2[i] == 0 :
            mainDicOperand_v22 = {'input_a': a[i], 'input_b': b[i], 'operand': operand_v2[i], 'operand_str': 'sub'}

        if operand_v2[i] == 1 :
            mainDicOperand_v22 = {'input_a': a[i], 'input_b': b[i], 'operand': operand_v2[i], 'operand_str': 'sum'}
        
        mainDicLis_v22.append(mainDicOperand_v22)

In [275]:
df11 = pd.DataFrame(mainDicLis_v11)
df12 = pd.DataFrame(mainDicLis_v12)
df21 = pd.DataFrame(mainDicLis_v21)
df22 = pd.DataFrame(mainDicLis_v22)

In [276]:
MR2_inputData = list(fuzzer(0, 10, 100))
MR3_inputData = list(fuzzer(0, 10, 100))
MR4_inputData = list(fuzzer(0, 10, 100))

In [277]:
mainDicMRs = {}
mainDicLis_MRs = []

In [278]:
for i in range(0, len(MR2_inputData)):
    mainDicMRs = {'MR_2': MR2_inputData[i], 'MR_3': MR3_inputData[i], 'MR_4': MR4_inputData[i]}
    mainDicLis_MRs.append(mainDicMRs)

In [279]:
dfMRs = pd.DataFrame(mainDicLis_MRs)

In [280]:
dfMRs

    MR_2  MR_3  MR_4
0      5     6     9
1      8     7     6
2      7     3     4
3      1     9     1
4      2     6     2
..   ...   ...   ...
95     1     5     9
96     3     4     7
97     3     1     4
98     5     0     8
99     7     7     1

[100 rows x 3 columns]

In [281]:
df11

    input_a  input_b  operand operand_str
0         3        0        0         sum
1         7        5        1         sub
2         7        1        0         sum
3         4        0        0         sum
4         1        4        1         sub
..      ...      ...      ...         ...
95        8        7        0         sum
96        1        9        0         sum
97        3        1        0         sum
98        1        4        1         sub
99        9        7        0         sum

[100 rows x 4 columns]

In [1]:
df11.to_csv('fuzzerInputs_v11.csv')
df12.to_csv('fuzzerInputs_v12.csv')
df21.to_csv('fuzzerInputs_v21.csv')
df22.to_csv('fuzzerInputs_v22.csv')
dfMRs.to_csv('MRsInputs.csv')

NameError: name 'df11' is not defined