In [189]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random

In [190]:
def fuzzer(low, high, size):
    return np.random.uniform(low=low, high=high, size=(size,)).astype(int)

In [191]:
a = list(fuzzer(0, 10, 100))
b = list(fuzzer(0, 10, 100))
constant = fuzzer(1, 10, 1)[0]

In [192]:
mainDic = {}
mainDicList = []

In [193]:
if len(a) == len(b):
    for i in range(0, len(a)):
        mainDic = {'(a,b)': '(' + str(a[i]) + ',' + str(b[i]) + ')', 'input_a': a[i], 'input_b': b[i], 'operand': 'sum', 'const' : constant}
        mainDicList.append(mainDic)

In [194]:
mainDicSub = {}
mainDicSubList = []
if len(a) == len(b):
    for i in range(0, len(a)):
        mainDicSub = {'(a,b)': '(' + str(a[i]) + ',' + str(b[i]) + ')', 'input_a': a[i], 'input_b': b[i], 'operand': 'sub', 'const' : constant}
        mainDicSubList.append(mainDicSub)

In [195]:
mainDicSumSub = {}
mainDicSumSubList = []
if len(a) == len(b):
    for i in range(0, len(a)):
        mainDicSumSub = {'(a,b)': '(' + str(a[i]) + ',' + str(b[i]) + ')', 'input_a': a[i], 'input_b': b[i], 'operand': 'sub', 'const' : constant}
        mainDicSumSubList.append(mainDicSumSub)
        mainDicSumSub = {'(a,b)': '(' + str(a[i]) + ',' + str(b[i]) + ')', 'input_a': a[i], 'input_b': b[i], 'operand': 'sum', 'const' : constant}
        mainDicSumSubList.append(mainDicSumSub)

In [196]:
df_sum = pd.DataFrame(mainDicList)
df_sub = pd.DataFrame(mainDicSubList)
df_sum_sub = pd.DataFrame(mainDicSumSubList)

In [197]:
df_sum_sub

     (a,b)  input_a  input_b operand  const
0    (9,2)        9        2     sub      6
1    (9,2)        9        2     sum      6
2    (8,1)        8        1     sub      6
3    (8,1)        8        1     sum      6
4    (4,8)        4        8     sub      6
..     ...      ...      ...     ...    ...
195  (1,3)        1        3     sum      6
196  (0,6)        0        6     sub      6
197  (0,6)        0        6     sum      6
198  (1,8)        1        8     sub      6
199  (1,8)        1        8     sum      6

[200 rows x 5 columns]

In [198]:
# df_sum_sub = df_sum_sub.sort_values(by=['operand']).reset_index(drop=True)

In [199]:
df_sum.to_csv('100_inputs_sum.csv')
df_sub.to_csv('100_inputs_sub.csv')
df_sum_sub.to_csv('100sum_100sub.csv')

In [200]:
df_sum

    (a,b)  input_a  input_b operand  const
0   (9,2)        9        2     sum      6
1   (8,1)        8        1     sum      6
2   (4,8)        4        8     sum      6
3   (7,2)        7        2     sum      6
4   (0,6)        0        6     sum      6
..    ...      ...      ...     ...    ...
95  (2,7)        2        7     sum      6
96  (2,3)        2        3     sum      6
97  (1,3)        1        3     sum      6
98  (0,6)        0        6     sum      6
99  (1,8)        1        8     sum      6

[100 rows x 5 columns]

In [201]:
df_sub

    (a,b)  input_a  input_b operand  const
0   (9,2)        9        2     sub      6
1   (8,1)        8        1     sub      6
2   (4,8)        4        8     sub      6
3   (7,2)        7        2     sub      6
4   (0,6)        0        6     sub      6
..    ...      ...      ...     ...    ...
95  (2,7)        2        7     sub      6
96  (2,3)        2        3     sub      6
97  (1,3)        1        3     sub      6
98  (0,6)        0        6     sub      6
99  (1,8)        1        8     sub      6

[100 rows x 5 columns]

In [220]:
a = 0
b = 0
flag = 0
mainDicv2 = {}
mainDicv2List = []

for i in range(0,100):
    if i != 0 :
        a = a + 1

        if flag == 1:
            a = 0
            flag = 0

    mainDicv2 = {'(a,b)': '(' + str(a) + ',' + str(b) + ')', 'input_a': a, 'input_b': b,'const' : constant}
    mainDicv2List.append(mainDicv2)

    if a == 9:
        a =1
        b = b + 1
        flag = 1

In [221]:
df_controled = pd.DataFrame(mainDicv2List)
df_controled.to_csv('controled_inputs.csv')

In [222]:
mainDicv2List

[{'(a,b)': '(0,0)', 'input_a': 0, 'input_b': 0, 'const': 6},
 {'(a,b)': '(1,0)', 'input_a': 1, 'input_b': 0, 'const': 6},
 {'(a,b)': '(2,0)', 'input_a': 2, 'input_b': 0, 'const': 6},
 {'(a,b)': '(3,0)', 'input_a': 3, 'input_b': 0, 'const': 6},
 {'(a,b)': '(4,0)', 'input_a': 4, 'input_b': 0, 'const': 6},
 {'(a,b)': '(5,0)', 'input_a': 5, 'input_b': 0, 'const': 6},
 {'(a,b)': '(6,0)', 'input_a': 6, 'input_b': 0, 'const': 6},
 {'(a,b)': '(7,0)', 'input_a': 7, 'input_b': 0, 'const': 6},
 {'(a,b)': '(8,0)', 'input_a': 8, 'input_b': 0, 'const': 6},
 {'(a,b)': '(9,0)', 'input_a': 9, 'input_b': 0, 'const': 6},
 {'(a,b)': '(0,1)', 'input_a': 0, 'input_b': 1, 'const': 6},
 {'(a,b)': '(1,1)', 'input_a': 1, 'input_b': 1, 'const': 6},
 {'(a,b)': '(2,1)', 'input_a': 2, 'input_b': 1, 'const': 6},
 {'(a,b)': '(3,1)', 'input_a': 3, 'input_b': 1, 'const': 6},
 {'(a,b)': '(4,1)', 'input_a': 4, 'input_b': 1, 'const': 6},
 {'(a,b)': '(5,1)', 'input_a': 5, 'input_b': 1, 'const': 6},
 {'(a,b)': '(6,1)', 'input_a': 6, 'input_b': 1, 'const': 6},
 {'(a,b)': '(7,1)', 'input_a': 7, 'input_b': 1, 'const': 6},
 {'(a,b)': '(8,1)', 'input_a': 8, 'input_b': 1, 'const': 6},
 {'(a,b)': '(9,1)', 'input_a': 9, 'input_b': 1, 'const': 6},
 {'(a,b)': '(0,2)', 'input_a': 0, 'input_b': 2, 'const': 6},
 {'(a,b)': '(1,2)', 'input_a': 1, 'input_b': 2, 'const': 6},
 {'(a,b)': '(2,2)', 'input_a': 2, 'input_b': 2, 'const': 6},
 {'(a,b)': '(3,2)', 'input_a': 3, 'input_b': 2, 'const': 6},
 {'(a,b)': '(4,2)', 'input_a': 4, 'input_b': 2, 'const': 6},
 {'(a,b)': '(5,2)', 'input_a': 5, 'input_b': 2, 'const': 6},
 {'(a,b)': '(6,2)', 'input_a': 6, 'input_b': 2, 'const': 6},
 {'(a,b)': '(7,2)', 'input_a': 7, 'input_b': 2, 'const': 6},
 {'(a,b)': '(8,2)', 'input_a': 8, 'input_b': 2, 'const': 6},
 {'(a,b)': '(9,2)', 'input_a': 9, 'input_b': 2, 'const': 6},
 {'(a,b)': '(0,3)', 'input_a': 0, 'input_b': 3, 'const': 6},
 {'(a,b)': '(1,3)', 'input_a': 1, 'input_b': 3, 'const': 6},
 {'(a,b)': '(2,3)', 'input_a': 2, 'input_b': 3, 'const': 6},
 {'(a,b)': '(3,3)', 'input_a': 3, 'input_b': 3, 'const': 6},
 {'(a,b)': '(4,3)', 'input_a': 4, 'input_b': 3, 'const': 6},
 {'(a,b)': '(5,3)', 'input_a': 5, 'input_b': 3, 'const': 6},
 {'(a,b)': '(6,3)', 'input_a': 6, 'input_b': 3, 'const': 6},
 {'(a,b)': '(7,3)', 'input_a': 7, 'input_b': 3, 'const': 6},
 {'(a,b)': '(8,3)', 'input_a': 8, 'input_b': 3, 'const': 6},
 {'(a,b)': '(9,3)', 'input_a': 9, 'input_b': 3, 'const': 6},
 {'(a,b)': '(0,4)', 'input_a': 0, 'input_b': 4, 'const': 6},
 {'(a,b)': '(1,4)', 'input_a': 1, 'input_b': 4, 'const': 6},
 {'(a,b)': '(2,4)', 'input_a': 2, 'input_b': 4, 'const': 6},
 {'(a,b)': '(3,4)', 'input_a': 3, 'input_b': 4, 'const': 6},
 {'(a,b)': '(4,4)', 'input_a': 4, 'input_b': 4, 'const': 6},
 {'(a,b)': '(5,4)', 'input_a': 5, 'input_b': 4, 'const': 6},
 {'(a,b)': '(6,4)', 'input_a': 6, 'input_b': 4, 'const': 6},
 {'(a,b)': '(7,4)', 'input_a': 7, 'input_b': 4, 'const': 6},
 {'(a,b)': '(8,4)', 'input_a': 8, 'input_b': 4, 'const': 6},
 {'(a,b)': '(9,4)', 'input_a': 9, 'input_b': 4, 'const': 6},
 {'(a,b)': '(0,5)', 'input_a': 0, 'input_b': 5, 'const': 6},
 {'(a,b)': '(1,5)', 'input_a': 1, 'input_b': 5, 'const': 6},
 {'(a,b)': '(2,5)', 'input_a': 2, 'input_b': 5, 'const': 6},
 {'(a,b)': '(3,5)', 'input_a': 3, 'input_b': 5, 'const': 6},
 {'(a,b)': '(4,5)', 'input_a': 4, 'input_b': 5, 'const': 6},
 {'(a,b)': '(5,5)', 'input_a': 5, 'input_b': 5, 'const': 6},
 {'(a,b)': '(6,5)', 'input_a': 6, 'input_b': 5, 'const': 6},
 {'(a,b)': '(7,5)', 'input_a': 7, 'input_b': 5, 'const': 6},
 {'(a,b)': '(8,5)', 'input_a': 8, 'input_b': 5, 'const': 6},
 {'(a,b)': '(9,5)', 'input_a': 9, 'input_b': 5, 'const': 6},
 {'(a,b)': '(0,6)', 'input_a': 0, 'input_b': 6, 'const': 6},
 {'(a,b)': '(1,6)', 'input_a': 1, 'input_b': 6, 'const': 6},
 {'(a,b)': '(2,6)', 'input_a': 2, 'input_b': 6, 'const': 6},
 {'(a,b)': '(3,6)', 'input_a': 3, 'input_b': 6, 'const': 6},
 {'(a,b)': '(4,6)', 'input_a': 4, 'input_b': 6, 'const': 6},
 {'(a,b)': '(5,6)', 'input_a': 5, 'input_b': 6, 'const': 6},
 {'(a,b)': '(6,6)', 'input_a': 6, 'input_b': 6, 'const': 6},
 {'(a,b)': '(7,6)', 'input_a': 7, 'input_b': 6, 'const': 6},
 {'(a,b)': '(8,6)', 'input_a': 8, 'input_b': 6, 'const': 6},
 {'(a,b)': '(9,6)', 'input_a': 9, 'input_b': 6, 'const': 6},
 {'(a,b)': '(0,7)', 'input_a': 0, 'input_b': 7, 'const': 6},
 {'(a,b)': '(1,7)', 'input_a': 1, 'input_b': 7, 'const': 6},
 {'(a,b)': '(2,7)', 'input_a': 2, 'input_b': 7, 'const': 6},
 {'(a,b)': '(3,7)', 'input_a': 3, 'input_b': 7, 'const': 6},
 {'(a,b)': '(4,7)', 'input_a': 4, 'input_b': 7, 'const': 6},
 {'(a,b)': '(5,7)', 'input_a': 5, 'input_b': 7, 'const': 6},
 {'(a,b)': '(6,7)', 'input_a': 6, 'input_b': 7, 'const': 6},
 {'(a,b)': '(7,7)', 'input_a': 7, 'input_b': 7, 'const': 6},
 {'(a,b)': '(8,7)', 'input_a': 8, 'input_b': 7, 'const': 6},
 {'(a,b)': '(9,7)', 'input_a': 9, 'input_b': 7, 'const': 6},
 {'(a,b)': '(0,8)', 'input_a': 0, 'input_b': 8, 'const': 6},
 {'(a,b)': '(1,8)', 'input_a': 1, 'input_b': 8, 'const': 6},
 {'(a,b)': '(2,8)', 'input_a': 2, 'input_b': 8, 'const': 6},
 {'(a,b)': '(3,8)', 'input_a': 3, 'input_b': 8, 'const': 6},
 {'(a,b)': '(4,8)', 'input_a': 4, 'input_b': 8, 'const': 6},
 {'(a,b)': '(5,8)', 'input_a': 5, 'input_b': 8, 'const': 6},
 {'(a,b)': '(6,8)', 'input_a': 6, 'input_b': 8, 'const': 6},
 {'(a,b)': '(7,8)', 'input_a': 7, 'input_b': 8, 'const': 6},
 {'(a,b)': '(8,8)', 'input_a': 8, 'input_b': 8, 'const': 6},
 {'(a,b)': '(9,8)', 'input_a': 9, 'input_b': 8, 'const': 6},
 {'(a,b)': '(0,9)', 'input_a': 0, 'input_b': 9, 'const': 6},
 {'(a,b)': '(1,9)', 'input_a': 1, 'input_b': 9, 'const': 6},
 {'(a,b)': '(2,9)', 'input_a': 2, 'input_b': 9, 'const': 6},
 {'(a,b)': '(3,9)', 'input_a': 3, 'input_b': 9, 'const': 6},
 {'(a,b)': '(4,9)', 'input_a': 4, 'input_b': 9, 'const': 6},
 {'(a,b)': '(5,9)', 'input_a': 5, 'input_b': 9, 'const': 6},
 {'(a,b)': '(6,9)', 'input_a': 6, 'input_b': 9, 'const': 6},
 {'(a,b)': '(7,9)', 'input_a': 7, 'input_b': 9, 'const': 6},
 {'(a,b)': '(8,9)', 'input_a': 8, 'input_b': 9, 'const': 6},
 {'(a,b)': '(9,9)', 'input_a': 9, 'input_b': 9, 'const': 6}]